{% extends "base.html" %}
{% import 'modal-form.html' as modal %}
{% import 'maintenance-forms.html' as maintenance_forms %}

{% block title %}Maintenance{% endblock %}

{% block content %}
<h1 align="center">Locations</h1>

<table id="locations"
    class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">
                <button id="btn-add-location"
                    class="hoverable bi hover-bi-plus-square btn-icon"></button>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ location.id }}</td>
            <td>{{ location.name }}</td>
            <td>
                <button class="hoverable bi hover-bi-pencil btn-icon modal-trigger-edit-location"
                    data-location-id="{{ location.id }}"
                    data-location-name="{{ location.name }}"></button>
                <button class="hoverable bi hover-bi-trash btn-icon modal-trigger-delete-location"
                    data-location-id="{{ location.id }}"></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% call modal.new("modal-add-location", "Add location", "/maintenance/add-location", "Add") %}
{{ maintenance_forms.add_edit_location('add') }}
{% endcall %}

{% call modal.new("modal-delete-location", "Delete location", "/maintenance/delete-location", "Yes") %}
<input type="hidden"
    name="location_id"
    id="delete-location-id"
    value="">
<p>Are you sure you want to delete this location?</p>
{% endcall %}

{% call modal.new("modal-edit-location", "Edit location", "/maintenance/edit-location", "Save") %}
{{ maintenance_forms.add_edit_location('edit') }}
{% endcall %}


{% for location in locations %}
<br />
<h2>{{ location.name }}</h2>

<table id="{{ location.name }}-venues"
    class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Frequency</th>
            <th cope="col">Genre</th>
            <th scope="col">
                <button class="hoverable bi hover-bi-plus-square btn-icon modal-trigger-add-venue"
                    data-location-id="{{ location.id }}"></button>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for venue in venues if venue.location_id == location.id %}
        <tr>
            <td>{{ venue.id }}</td>
            <td>
                {% if venue.link %}
                <a href="{{ venue.link }}"
                    target="_blank">{{ venue.name }}</a>
                {% else %}
                {{ venue.name }}
                {% endif %}
            </td>
            <td>{{ venue.frequency}}</td>
            <td>{{ venue.genre }}</td>
            <td>
                <button class="hoverable bi hover-bi-pencil btn-icon modal-trigger-edit-location"
                    data-venue-id="{{ venue.id }}"
                    data-venue-name="{{ venue.name }}"
                    data-venue-link="{{ venue.link }}"
                    data-venue-location-id="{{ location.id }}"
                    data-venue-frequency="{{ venue.frequency }}"
                    data-venue-genre="{{ venue.genre }}">
                </button>
                <button class="hoverable bi hover-bi-trash btn-icon modal-trigger-delete-location"
                    data-venue-id="{{ venue.id }}">
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% call modal.new("modal-add-venue", "Add venue", "/maintenance/add-venue", "Add") %}
{{ maintenance_forms.add_edit_venue('add', locations)}}
{% endcall %}

{% call modal.new("modal-delete-venue", "Delete venue: ", "/maintenance/delete-venue", "Yes") %}
<input type="hidden"
    name="venue_id"
    id="delete-venue-id"
    value="">
<p>Are you sure you want to delete this venue?</p>
{% endcall %}

{% call modal.new("modal-edit-venue", "Edit venue: ", "/maintenance/edit-venue", "Save") %}
{{ maintenance_forms.add_edit_venue('edit')}}
{% endcall %}

{% endblock %}


{% block scripts %}
<script src="/static/maintenance.js"></script>
{% endblock %}