{% extends "base.html" %}
{% import 'modal.html' as modal %}

{% block title %}Maintenance{% endblock %}

{% block content %}
<div class="col-lg-6 mx-auto">
    <h1 style="text-align: center;">Locations</h1>

    <table id="locations"
        class="table table-hover">
        <thead>
            <th data-bs-toggle="tooltip"
                data-bs-title="Drag & drop locations to re-order"
                data-bs-placement="left"
                data-container="body">Name</th>
            <th></th>
            <th><i class="hoverable bi bi-plus-square modal-trigger-add" /></th>
        </thead>
    </table>

</div>

{{ modal.new('modal') }}

{% endblock %}

{% block scripts %}
<script src="/static/maintenance.js"></script>
{% endblock %}