{% macro new(id) %}
<div id="{{ id }}"
    class="modal"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="{{ id }}-title"
                    class="modal-title"></h5>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"></button>
            </div>
            <div id="{{ id }}-body"
                class="modal-body">
            </div>
        </div>
    </div>
</div>
{% endmacro %}