{% macro new(id, title, action, submit_text) %}
<!-- this does nothing, but jinja needs to use the caller variable for some reason or else you cannot call this macro :/ -->
<div style="display: none;">{{ caller }}</div>
<div class="modal fade"
    id="{{ id }}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="staticBackdropLabel">{{ title }}</h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ action }}"
                    method="POST">
                    {{ caller () }}
                    <br />
                    <div style="text-align: right;">
                        <button type="submit"
                            class="btn btn-primary btn-form">{{ submit_text }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endmacro %}