.btn-icon {
    border: none;
    background: none;
}

.btn-icon-column {
    text-align: right;
}

.btn-icon-container {
    width: 80px;
    margin-left: auto;
    text-align: center;
}

.tooltip-inner {
    max-width: 150px;
}